@import 'tailwindcss';

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
}

/* Prevent horizontal overflow on small/mobile screens (PWA) */
html, body {
  overflow-x: hidden;
}

#root,
button,
select,
label,
p,
h1 {
  user-select: none;
  -webkit-user-select: none;
}

* {
  -webkit-tap-highlight-color: transparent;
}